* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* general styling */
body {
    background: #5ADEFF;
}
/* general styling for game div*/
.game {
    background: hsla(0, 0%, 100%, 0.868);
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 15px;
    padding: 30px;
}
.game h1{
    font-size: 25px;
    color: #001e4d; 
    font-weight: 600;
    border-bottom: 2px solid gray;
    padding-bottom: 25px;
}
/* styling for Quiz header*/
.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 16px;
    color: #001e4d;
    font-weight: 600;
}
/* button styling*/
.btn{
    background: #fafafa;
    color: #001e4d;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    font-weight: 500;
    border: 2px solid #001e4d;
    cursor: pointer;
    transition: 0.2s;
}
/* styling hover for question buttons*/
.btn:hover{
    background: gray;
    color: white;
}
/* styling for next question button*/
#second-btn{
    background: #001e4d;
    color: #fafafa;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 25px auto 0;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    /*Making button hidden*/
    display: none;
}
/* Adding background color for the correcnt and incorrect answeres*/
.correct{
    background: #bfe3b4;
}
.incorrect{
    background: #ff6961;
}